<div class = 'column is-half'>
    <div class = 'card is-centered'>
        <div class = 'card-header is-centered'>
            <p class = 'title is-4'>User: <%= @user.email %></p>
        </div>
        <% unless @cryptocurrencies.blank? %>
            <div class = 'card-content'>
                <p class = 'content' >Followed Currencies: <%= @cryptocurrencies.length %></p>
            </div>
            <div class = 'card-content'>
                <%#= render @cryptocurrencies %>
                <% @follows.each do |follow| %>
                    <%= follow.followable.class %>
                    <% if follow.followable.instance_of?(Wallet) %>
                        <p><%= follow.followable.address %> (<%=follow.followable.cryptocurrency.symbol%>)</p>
                    <% elsif follow.followable.instance_of?(Cryptocurrency) %>
                        <p><%= follow.followable.symbol %></p>
                            <% unless follow.followable.last_price.nil? %>
                                <p>Last price: $<%= follow.followable.last_price %> as of <%= follow.followable.last_price_date %></p>
                            <% end %>
                    <% end %>

                    <%#= link_to follow.followable, cryptocurrency_path(follow.followable) %>
                    <br />

                <% end %> 

                <%#= pluralize(@post.comments.length, "comment") %>
                
            </div>
        <% else %>

        <div class = 'card-content'> 
            <p class = 'content'>You havent followed any currencies =(</p>
            <%= link_to cryptocurrencies_path, "Cryptocurrencies" %>
        </div>

        <% end %>
            
    </div>
    <%#= render 'actions' %>
</div>
