<%= form_with(model: wallet) do |form| %>
  <% if wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
        <% wallet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :address %>
    <%= form.text_field :address %>
    
    <%= form.label :cryptocurrency %>
    <%#= form.collection_select(:cryptocurrency, :cryptocurrency_id, Cryptocurrency.all, :id, :symbol_name, prompt: true ) %>
    <%#= form.select("cryptocurrency", "cryptocurrency_id", Cryptocurrency.all.collect{|c| [ c.name, c.id ]}) %>
    <%= form.collection_select :cryptocurrency_id, Cryptocurrency.order(:name),:id,:name, include_blank: true %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
