<div class = 'column is-centered'>
  <p id="notice"><%= notice %></p>

  <h1>Cryptocurrencies</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class = 'table'>
      <% @cryptocurrencies.each do |cryptocurrency| %>
        <tr>

            <td><%= cryptocurrency.name %></td>
            <td><%= link_to 'Show', cryptocurrency %></td>
            <td><%#= link_to 'Follow', edit_cryptocurrency_path(cryptocurrency) %></td>
            <td>
            <% if current_user.cryptocurrencies.include? (cryptocurrency) %> 
              Already Following 
            <% else %>
              
              <%= form_with(model: @follow, url: follows_path, method: :post) do |f| %>
                          <%= f.label 'Follow' %>
                          <%= f.hidden_field :follower_id, :value => current_user.id %>
                          <%= f.hidden_field :followable_type, :value => 'Cryptocurrency' %> 
                          <%= f.hidden_field :followable_id, :value => cryptocurrency.id %>  

                          <%= f.submit 'Follow' %>
                      <% end %>
            <% end %>
            </td>
            <td><%#= link_to 'Destroy', cryptocurrency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>

