<div class = 'column is-centered'>
  <p id="notice"><%= notice %></p>

  <h1>Cryptocurrencies</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class = 'table'>
      <% @cryptocurrencies.each do |cryptocurrency| %>
        <tr>

            <td><%= cryptocurrency.name %></td>
            <td><%= link_to 'Show', cryptocurrency %></td>
            <td><%#= link_to 'Follow', edit_cryptocurrency_path(cryptocurrency) %></td>
            <td>
            <% if current_user.cryptocurrencies.include? (cryptocurrency) %> 
              Already Following 
            <% else %>
              
              <%= form_with(model: @follow, url: follows_path, method: :post) do |f| %>
                          <%= f.hidden_field :follower_id, :value => current_user.id %>
                          <%= f.hidden_field :followable_type, :value => 'Cryptocurrency' %> 
                          <%= f.hidden_field :followable_id, :value => cryptocurrency.id %>  

                          <%= f.submit 'Follow' %>
                      <% end %>
            <% end %>
            </td>
            <% unless cryptocurrency.last_price.nil? %>
              <td>Last price: <%= cryptocurrency.last_price %> as of <%= cryptocurrency.last_price_date %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>

