<div class = 'column'> 
<div class = 'card'> 
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @cryptocurrency.name %>
  </p>
  <p>
    <strong>Symbol:</strong>
    <%= @cryptocurrency.symbol %>
  </p>
  <p>
    <strong>Price:</strong>
    $<%= @price %> <%= @base_currency %>
  </p>
  <p>
    <strong>INFO:</strong>
    <%= @content %>
  </p>

  <%= link_to 'Back', cryptocurrencies_path %>
</div>
</div>
